<% provide(:title, 'About') %>
<div class="span9">
  <h2>关于我</h2>

    <p>后80年人，生于陕西,现于北京做 ruby 开发工作！</p>

    <h3>Around the web</h3>
    <ul>
        <li><a href="http://woji.herokuapp.com" target="_blank">博客</a></li>
        <li><a href="https://github.com/pobing" target="_blank">Github</a></li>
        <li>微博 &nbsp;<a href="http://weibo.com/jido" target="_blank">@大秦IT</a></li>
        <li>Twitter &nbsp; <a href="https://twitter.com/cn_dong" target="_blank">@cn_dong</a></li>
    </ul>

    <!--<h3>About this site</h3>-->
    <!--<ul>-->
    <!--    <li>Built in <a href="https://www.djangoproject.com/" target="_blank">Django</a></li>-->
    <!--    <li>Served with <a href="http://nginx.org/en/" target="_blank">Nginx</a>/<a href="http://gunicorn.org/" target="_blank">Gunicorn</a></li>-->
    <!--    <li>Hosted on an Ubuntu Server 12.10 VM with <a href="https://www.digitalocean.com/" target="_blank" >Digital Ocean</a></li>-->
    <!--    <li>Deployed with <a href="http://fabfile.org" target="_blank" >Fabric</a></li>-->
    <!--    <li>Managed by <a href="http://supervisord.org/" target="_blank" >Supervisor</a></li>-->
    <!--    <li>Powered by <a href="http://images.nationalgeographic.com/wpf/media-live/photos/000/007/cache/spider-monkey_719_600x450.jpg"  target="_blank">spider monkeys</a></li>-->
    <!--</ul>-->
</div>
