<div class="span7">
<script type="text/javascript" src="http://www.douban.com/service/badge/daqinit/?show=collection&amp;n=16&amp;columns=6&amp;picsize=medium&amp;hidelogo=yes&amp;hideself=yes" ></script>
</div>