      <div class="comment-avatar">
        <img width="60" height="60" class="avatar avatar-60 photo" src="" alt="">      </div>
      <div class="comment-entry">
        <p>
          <span class="author"><%=comment.commenter %></span> - 
          <time pubdate="pubdate" datetime="2012-08-20"><%=time_ago_in_words(comment.created_at)%></time>
                  </p> 
        <div class="comment-text clearfix">
          <p><%=comment.html %></p>
          <p class="text-left"><%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %></p>
        </div> 
      </div>
      <hr>
 