<div class="row post text">  

				<div class="span3">

					 
					<div class="author">
						<div class="author-name">Posted by <a target="_blank" href="http://thomashpark.tumblr.com/">Thomas H. Park</a></div>
					</div>
					 

					<div class="date">
					
						
							<a href="http://news.bootswatch.com/post/36588968129/cosmo-a-free-metro-inspired-theme-for-bootstrap">2 months ago</a>
						
						
					
					</div> <!-- .date -->

					
                    

				</div> <!-- .span3 -->

				<div class="span6 entry"> 

					<div class="title">
					
						<h2><a href="http://news.bootswatch.com/post/36588968129/cosmo-a-free-metro-inspired-theme-for-bootstrap">Cosmo: A free Metro-inspired theme for Bootstrap</a></h2>
					
					</div> <!-- .title -->
					
					<div class="POST">

						<!-- ANSWER -->
						
						<!-- /ANSWER -->

						<!-- TEXT -->
						
							<p>I’m pleased to announce Cosmo, a brand new Bootstrap theme inspired by Metro.&nbsp;Cosmo features bright colors and no-frill components reminiscent of Windows 8.</p>
<p>You can jump right in and use it exactly like you would use standard Bootstrap. To really get the Metro look though, try using&nbsp;<a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>,&nbsp;sizing up your glyphicons, and combining them with the new <code>.btn-block</code> class.</p>
<div><a href="http://bootswatch.com/cosmo">Check out Cosmo here</a>.</div>
<p><img src="http://media.tumblr.com/tumblr_me0a75CWLn1qb17pp.png"></p>
<p><img src="http://media.tumblr.com/tumblr_me0a8dwfnA1qb17pp.png"></p>
<p><img src="http://media.tumblr.com/tumblr_me0a99oiCh1qb17pp.png"></p>
						
						<!-- /TEXT -->

						<!-- VIDEO -->
						
						<!-- /VIDEO -->

						<!-- PHOTO -->
						
						<!-- /PHOTO -->

						<!-- QUOTE -->
						
						<!-- /QUOTE -->

						<!-- LINK -->
						
						<!-- /LINK -->

						<!-- CHAT -->
						
						<!-- /CHAT -->

						<!-- AUDIO -->
						
						<!-- /AUDIO -->
					  
					</div>	
				</div> <!-- .entry -->

				<div class="span3">

					 
					<div class="notes">
						<a href="http://news.bootswatch.com/post/36588968129/cosmo-a-free-metro-inspired-theme-for-bootstrap#notes">
							<i class="icon-heart"></i> 38 notes
						</a>
					</div>
					 

					

					

					
					<div class="tweet share-link clearfix">
						<a data-via="thomashpark" data-text="Cosmo: A free Metro-inspired theme for Bootstrap" data-url="http://news.bootswatch.com/post/36588968129/cosmo-a-free-metro-inspired-theme-for-bootstrap" class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
					</div>
					
                    
                    
                    <div class="bsap_1277971 bsap" id="bsap_1277971"></div>

				</div> <!-- .span3 -->
			</div>

