<div class="row post text">  
				<div class="span9 entry"> 
					<div class="title">
						<h2><a href="http://news.bootswatch.com/post/36588968129/cosmo-a-free-metro-inspired-theme-for-bootstrap">Cosmo: A free Metro-inspired theme for Bootstrap</a></h2>
					</div> <!-- .title -->
					
					<div class="POST">

						
南锣鼓巷简介

南锣鼓巷是北京最古老的街区之一，有着北京保护最完整的四合院区，位列规划中的25片旧城保护区之中。南锣鼓巷南北走向，长约800米，东西各有8条胡同整齐排列。凭借较为完好的元代里坊格局、明清名人府邸，南锣鼓巷在胡同拆迁中得以幸存。近几年又有先见之明的人看到商机，租下沿街民房，开起了风格百变的个性店铺，元朝古巷新旧混血，就此重生，全球游客都爱来此“迷失北京”。

南锣鼓巷里也是北京一条非常有特色的酒吧街。整条酒吧街以四合院小平房为主，门前高挂小红灯笼，装修风格回归传统、朴实，遵实于四合院的氛围和格调。与三里屯、后海不同，南锣鼓巷的酒吧大多比较安静，和谐、自然、身居闹市却远离闹市的喧嚣，更贴近于生活。

					  
					</div>	
				</div> <!-- .entry -->

				<div class="span3">

					 
					<div class="notes">
						<h3>Tags</h3>
						A,gag,ss,cg,ruby
					</div>
					 
                    <div class="notes">
						<h3>Tags</h3>
					</div>
					<div class="notes">
						<h3>Tags</h3>
					</div>
				</div> <!-- .span3 -->
			</div>

