<html lang="en"><head>
    <meta charset="UTF-8">
    <title></title>
<style id="system" type="text/css">*{margin:0;padding:0;}body {	font:13.34px helvetica,arial,freesans,clean,sans-serif;	color:black;	line-height:1.4em;	background-color: #F8F8F8;	padding: 0.7em;}p {	margin:1em 0;	line-height:1.5em;}table {	font-size:inherit;	font:100%;	margin:1em;}table th{border-bottom:1px solid #bbb;padding:.2em 1em;}table td{border-bottom:1px solid #ddd;padding:.2em 1em;}input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}select,option{padding:0 .25em;}optgroup{margin-top:.5em;}pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}pre {	margin:1em 0;	font-size:12px;	background-color:#eee;	border:1px solid #ddd;	padding:5px;	line-height:1.5em;	color:#444;	overflow:auto;	-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;	-webkit-border-radius:3px;	-moz-border-radius:3px;border-radius:3px;}pre code {	padding:0;	font-size:12px;	background-color:#eee;	border:none;}code {	font-size:12px;	background-color:#f8f8ff;	color:#444;	padding:0 .2em;	border:1px solid #dedede;}img{border:0;max-width:100%;}abbr{border-bottom:none;}a{color:#4183c4;text-decoration:none;}a:hover{text-decoration:underline;}a code,a:link code,a:visited code{color:#4183c4;}h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6{border:0;}h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}h3{margin-top:1em;}hr{border:1px solid #ddd;}ul{margin:1em 0 1em 2em;}ol{margin:1em 0 1em 2em;}ul li,ol li{margin-top:.5em;margin-bottom:.5em;}ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}dt{font-weight:bold;margin-left:1em;}dd{margin-left:2em;margin-bottom:1em;}@media screen and (min-width: 768px) {    body {        width: 748px;        margin:10px auto;    }}</style><style id="custom" type="text/css"></style></head>
<body marginheight="0"><h1>纪东东</h1>
<h2>基本信息</h2>
<ul>
<li>姓名: 纪东东</li>
<li>出生日期：1987年10月</li>
<li>期望城市: 北京、西安</li>
<li>Email: cn.jdong@gmail.com</li>
<li>目前职位：ruby 程序员</li>
<li>个人主页：<a href="http://woji.herokuapp.com"></a><a href="http://woji.herokuapp.com">http://woji.herokuapp.com</a></li>
<li>博客：<a href="http://pobing.info"></a><a href="http://pobing.info">http://pobing.info</a></li>
<li>github: <a href="https://github.com/pobing?tab=repositories">https://github.com/pobing?tab=repositories</a></li>
</ul>
<h2>工作经验</h2>
<ul>
<li>东方网力科技股份有限公司（2011/4-2013/7） ruby 程序员</li>
<li>北京保利欧泰科技股份有限公司（2010/4 - 2011/2） java 程序员</li>
</ul>
<h2>项目经验</h2>
<h4>企业信息系统</h4>
<ul>
<li>项目描述：该企业信息系统是为企业提供日常交流、沟通管理、协同合作的社交化办公平台。 </li>
<li>技术：ruby1.9.2，rails 3，mysql, redis </li>
<li>职责描述： </br>
1.后台管理模块的开发，信息审计等功能;</br> 
2.文件预览转化功能，基于openoffice，采用jodconverter，pdf2json 完成； </br>
3.写自动化测试，维护代码的强壮性； </br>
4.fix 日常产生的bug，帮助测试人员解决测试遇到的问题； </br>
5.负责测试服务器的部署及代码的版本更新。</li>
</ul>
<h4>ops管理系统</h4>
<ul>
<li><p>项目描述: 企业信息系统的后台管理系统，是对域名白名单，版本管理，留言反馈管理的管理平台。</p>
</li>
<li><p>技术：ruby 2.0 ，rails 4 ，mysql</p>
</li>
<li>职责描述：负责整个ops 整个系统的后端开发。</li>
</ul>
<h4>我记（I remember）（<a href="https://woji.herokuapp.com）">https://woji.herokuapp.com）</a></h4>
<ul>
<li>项目描述: 用过wordpress,觉得不是那么简洁，所以动手开发了这个博客。包含常有的博客功能，另外有说说，文章，和链接三种发布博客方式，文章支持markdown和富文本编辑功能。
支持第三方帐号登录。目前部署在heroku 上。</li>
<li>后端技术：ruby1.9.2 ， rails 3 </li>
<li>数据库： 本地 （mysql） 服务端：（postgres）</li>
<li>前端： bootstrap ，jquery</li>
</ul>
<h4>socode （<a href="https://socode.herokuapp.com）">https://socode.herokuapp.com）</a></h4>
<ul>
<li>项目描述: 一个实现代码高亮的rails 网站项目。它可以对200多种编程语言片段进行高亮，格式化，并且可以分享，收藏代码。
代码高亮采用 <a href="http://pygments.org/"></a><a href="http://pygments.org/">http://pygments.org/</a> 的api，用resque 进行后台转化。</li>
<li>后端：ruby 1.9.2 , rails 3, redis,resque </li>
<li>数据库：mysql</li>
<li>前端：bootstrap</li>
</ul>
<h4>SinaGeoIP (<a href="http://rubygems.org/gems/sina_geoip">http://rubygems.org/gems/sina_geoip</a>)</h4>
<p>一个输入IP获取省市地址的gem 包，采用sina 的 <a href="http://int.dpool.sina.com.cn/iplookup/iplookup.php">api</a> 实现。

</p>
<h2>个人技能</h2>
<ul>
<li>一年以上的ruby on rails 开发经验</li>
<li>一年以上的 javaEE 开发经验</li>
<li>熟练使用 MySQL，熟悉 MongoDB, Redis </li>
<li>熟练使用linux 系统</li>
<li>熟练使用 git 版本管理</li>
<li>熟悉javascript，jequery，html 等前端技术</li>
</ul>
<h4>用过的 gem</h4>
<ul>
<li>kaminari</li>
<li>boostrap</li>
<li>devise</li>
<li>sphinx</li>
<li>by_star</li>
<li>will_paginate</li>
<li>carrierwave</li>
<li>rails_admin</li>
<li>bettor_errors</li>
<li>mogoid</li>
<li>redis</li>
<li>god</li>
<li>...</li>
</ul>
<h4>部署</h4>
<ul>
<li>nginx + (unicorn | passenger) || apache+passenger</li>
<li>capistrano</li>
</ul>
<h4>自动化测试</h4>
<ul>
<li>BDD(rspec,selenium,capybara,factory_girl,guard,simple_cove)</li>
</ul>
<h4>代码库管理</h4>
<ul>
<li>git,github，Git@OSC，readmine, trello</li>
</ul>
<h4>操作系统</h4>
<ul>
<li>centos</li>
<li>ubuntu</li>
</ul>
<h4>测试平台</h4>
<ul>
<li>jenkins</li>
<li>testlink</li>
</ul>
</body></html>