<div class="span8">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
      	<a href="#1" data-toggle="tab"> <i class="icon-edit"></i> Status Update</a>
      </li>
      <li>
      	<a href="#2" data-toggle="tab"> <i class="icon-book"></i> Blog Post</a>
      </li>
       <li>
      	<a href="#3" data-toggle="tab"> <i class="icon-random"></i> Link</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="1">
        <p>	<%= render "tweet"%></p>
      </div>
      <div class="tab-pane" id="2">
        <p><%= render "blog" %></p>
      </div>
      <div class="tab-pane" id="3">
        <p><%= render "site" %></p>
      </div>
    </div>
  </div>
</div>
