      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1060px;
        background: #FFF;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .top {
        /*background: #FF2;*/
      }
      #tag_cloud {
        width: 270px;
        line-height: 1.6em;
       }
      .s { font-size: 0.8em; }
      .m { font-size: 1.2em; }
      .l { font-size: 1.8em; }
      .code > pre {
        width: 620px;
      }
      .tabbable {
        width: 620px;
      }

