<div class="span8 ">
  <%= form_for(@category,:html => { :class => "form-horizontal" }) do |f| %>
    <div class="control-group">
    <%= f.label :name ,class:"control-label"%>
    <div class="controls"><%= f.text_field :name,:placeholder =>"Please input cateory!" %></div>
  </div>

  <div class="controls">
    <%= f.submit "create", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
