<%= link_to icon_opt('icon-plus'), new_category_path,"title"=>"new category" %></p>
<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to icon_opt('icon-pencil'), edit_category_path(category), :title=>"edit" %></td>
    <td><%= link_to icon_opt('icon-trash'), category, :class=>"cate_del",:title=>"destroy" %></td>
  </tr>
<% end %>
</table>


