<p class="pull-right"><a href="#top">Back to top</a></p>
<div class="links">
  <a onclick="pageTracker._link(this.href); return false;" href="http://daqinit.com">Blog</a>
  <%= link_to "About",   about_path %>
  <%= link_to "Contact", "http://weibo.com/jido" %>
</div>
<p>
	Made by <a href="http://daqinit.com" target="_blank">pobing</a>. Contact him 
	<a href="mailto:cn.jdong@gmail.com">cn.jdong@gmail.com</a>
</p>
<p>
	Web fonts from <a href="http://www.google.com/webfonts" target="_blank">Google</a>
</p>
