<hr>
<footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a onclick="pageTracker._link(this.href); return false;" href="http://news.bootswatch.com">Blog</a>
          <a href="#">RSS</a>
        </div>
        Made by <a onclick="pageTracker._link(this.href); return false;" href="http://thomaspark.me" target="_blank">Thomas Park</a>. Contact him <a href="mailto:hello@thomaspark.me">cn.jdong@gmail.com</a>.<br>
         Web fonts from <a href="http://www.google.com/webfonts" target="_blank">Google</a>.<p></p>
</footer>