<div id ="header">
<hr>
<h1>我记-WoJi.com</h1>
</br>
<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <li class="active"><a href="/">首页</a></li>
      <li class=""><a href="/posts?type=0">说说</a></li>
      <li class=""><a href="/posts?type=1">日记</a></li>
      <li class=""><a href="#">相册</a></li>
      <li id="preview-menu" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">更多 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/posts?type=2" target="_blank">周记</a></li>
              <li><a href="/posts?type=3" target="_blank">月记</a></li>
              <li><a href="/posts?type=4" target="_blank">年记</a></li>
              <li><a href="/posts?type=5" target="_blank">自传</a></li>
              <li class="divider"></li>
            </ul>
          </li>
    </ul>
  </div>
</div>