<hr>
<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
      <li class="active"><a href="/">Home</a></li>
      <li class=""><a href="#navbar">RiJi</a></li>
      <li class=""><a href="#navbar">ZhouJi</a></li>
      <li class=""><a href="#navbar">YueJi</a></li>
      <li><a href="#buttons">NianJi</a></li>
      <li id="preview-menu" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">More <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="bootstrap.min.css" target="_blank">bootstrap.min.css</a></li>
              <li><a href="bootstrap.css" target="_blank">bootstrap.css</a></li>
              <li class="divider"></li>
            </ul>
          </li>
    </ul>
  </div>